p {
  display: block;
}

.sketch {
  display: block;
  position: relative;
  max-width: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 15px #000000;
  -moz-box-shadow: 0px 2px 15px rgb(0,0,0);
  box-shadow: 0px 2px 15px rgb(0,0,0);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.sketch-child {
  display: block;
  width: 100%;
}

canvas {
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media (max-width: 500px) {
  .title {
    display: none;
  }
}

