input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 1px 1px 1px #000000;
  background: var(--bs-form-invalid-border-color);
  border-radius: 10px;
  color: orangered;
}

input[type=range]::-webkit-slider-thumb {
  color: #ff4500;
}

